.container {
  min-height: 75vh;
  min-height: 75vh;
  background-color: black;
  color: white;
  font-family: "valery round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("/assets/images/hero.png");
}
